<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title %}{%endblock%}HNGR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
</head>

<body>
    <script src="static/autosuggest.js"></script>
    <div class="navbar">
        <img class="logo" src="../static/images/hungr_logo.png">
        <div class="links">
            {% if g.user %}
            <span>Welcome, {{ g.user['username']}} </span>
            <a href="{{ url_for('auth.logout') }}">Log Out</a>
            {% else %}
            <a href="{{ url_for('auth.login') }}" class="log-in">Log In</a>
            <a href = "{{url_for('auth.register')}}" id="sign-up">Sign Up</a>
            {% endif %}
        </div>
    </div>

    <section class="content">
        <header>
          {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
        
    </section>

    <div class="about">
        <h3 class="hngr"><span class="h">H</span>N<span class="g">G</span>R</h3>   
        {% block content %}
        <form autocomplete="off" method="post" class="info">
            <input id="location" class="location_input" type="text" name="location" placeholder="Location: City, State" required>
            <script>
                autocomplete(document.getElementById("location"), cities);
            </script>
            <select type="text" id="type" class="type" name="type" >   
                <option value="Restaurants">Restaurants</option>
                <option value="Bars">Bars</option>
                <option value="Cafes">Cafes</option>
                <option value="Fast-Food">Fast Food</option>
            </select>
            <button type="submit" value = '' id = "searchBtn" class="material-icons-sharp">
            search
            </button>
            
        </form> 

        {% endblock %}
    </div>
</body>
</html>