<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title %}{%endblock%}HUNGR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleAuth.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <a href="{{url_for('home.index')}} " class="logo">HNGR</a>
        <div class="links">
            {% if g.user %}
            <span> {{ g.user['username'] }}</span>
            <a href="{{ url_for('auth.logout') }}"></a>
            {% else %}
            <a href="{{ url_for('auth.login') }}" class="log-in">Log In</a>
            <a href = "{{url_for('auth.register')}}" id="sign-up">Sign Up</a>
            {% endif %}
        </div>
    </div>

    <section class="content">
        <div class="form-container">
          <header>
            {% block header %}{% endblock %}
          </header>
          {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
          {% endfor %}
          {% block content %}
          <form method="post" class="form">
            <input name="username" id="username" placeholder="Username" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <input type="submit" value="Log In" class="submit">
          </form>
          <a href="{{url_for('auth.register')}}" class="alt-link">Don't Have An Account?</a>
          </div>
    </section>


        {% endblock %}
  


</body>
</html>
